[interface_mysql]
user = root
name = s52585__interface
password =
host = localhost

[bot_mysql]
user = root
name = s52585__cb
password =
host = localhost

[review_mysql]
user = root
name = s52585__review
password =
host = localhost

[general]
session_secret = development......

[oauth]
consumer = xxxx
secret = xxxx

[raven]
dsn = xxxx
