# Import deferred reports twice a day
18 */12 * * * /usr/bin/jsub -N cron-tools.cbng-import-deferred-reports -e /dev/null -o /dev/null -once -quiet /data/project/cluebotng/apps/cbng_interface/bin/ve_wrapper /data/project/cluebotng/apps/cbng_interface/manage.py import_deferred_reports &> /dev/null

# Import completed reviews twice a day
37 */12 * * * /usr/bin/jsub -N cron-tools.cbng-import-completed-reviews -e /dev/null -o /dev/null -once -quiet /data/project/cluebotng/apps/cbng_interface/bin/ve_wrapper /data/project/cluebotng/apps/cbng_interface/manage.py import_completed_reviews &> /dev/null

# Associate reports/comments to known users once a day
43 1 * * * /usr/bin/jsub -N cron-tools.cbng-sync-report-users -e /dev/null -o /dev/null -once -quiet /data/project/cluebotng/apps/cbng_interface/bin/ve_wrapper /data/project/cluebotng/apps/cbng_interface/manage.py sync_report_users &> /dev/null
