{% load bootstrap3 %}
{% load angular_debug %}
<!DOCTYPE html>
<html lang="en" ng-app="cbngApp">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Unknown{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CBNG Interface">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,CHROME=1"/>

    {% block head %}{% endblock head %}
    <link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/cluebotng/static/css/app.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div ng-view></div>

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                {% spaceless %}
                {% block navmenu %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown" uib-dropdown>
                            <a id="app-dropdown" href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle><i class="fa fa-at"></i> {% block appname %}Unknown{% endblock %}</a>
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="app-dropdown">
                                <li>
                                    <a href="/cluebotng/report"><i class="fa fa-bug"></i> Report</a>
                                </li>
                                <li>
                                    <a href="/cluebotng/review"><i class="fa fa-folder-o"></i> Review</a>
                                </li>
                                {% if user.is_authenticated and user.is_superuser %}
                                <li>
                                    <a href="/cluebotng/admin"><i class="fa fa-unlock"></i> Admin</a>
                                </li>
                                <li>
                                    <a href="/cluebotng/nexus"><i class="fa fa-paw"></i> Feature Admin</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                {% endblock navmenu %}
                {% endspaceless %}
            </div>

            <div id="appmenu">
                {% spaceless %}
                {% block appmenu %}{% endblock %}
                {% block appmenu-right %}{% endblock %}

                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" uib-dropdown>
                            <a id="user-dropdown" href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                <i class="fa fa-user"></i>
                                {{ user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="user-dropdown">
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% block appmenu-apidocs %}{% endblock %}
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/signup">Signup</a>
                        </li>
                    </ul>
                {% endif %}
            {% endspaceless %}
            </div>
        </div>
    </nav>
{% endblock navbar %}
{% block app_pre_custom %}{% endblock %}
<div class="container">
    <div class="row">{% bootstrap_messages %}</div>
</div>
{% block content %}{% endblock %}
{% if is_staging_site %}
<div id="footer-note">
    <p>This is the staging site for ClueBot NG's tools. Any changes made here are NOT live.</p>
</div>
{% endif %}
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap.min.js"></script>
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
<script src="/cluebotng/static/js/app.js"></script>
<script type="text/javascript">angular.module('cbngApp').constant('devMode', {% angular_debug %});</script>
{% if not debug %}
<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/raven.js/3.0.4/raven.min.js"></script>
<script type="text/javascript">Raven.config('https://245aa2bc5b434747bb3089f6c7fca780@app.getsentry.com/79344').install();</script>
{% endif %}
{% block app_post_custom %}{% endblock %}
</body>
</html>