{% extends "cbng_review/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container" ng-controller="ReviewCtrl">
    <h1>User Stats</h1>
    <div class="row">
    {% if not stats %}
        <p>No stats found</p>
    {% else %}
        <p>Dataset contributions are vital to the running of ClueBot NG.</p>
        <p>The contribution stats for our volunteers can be seen below.</p>
        <p><table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Edits Reviewed</th>
                </tr>
            </thead>
            <tbody>
            {% for username, total in stats %}
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table></p>
    {% endif %}
    </div>
</div>
{% endblock %}